/* Laout Start */
/* main {
    width: 80%;
} */
/* SIdebar start in css */
body {
  height: 100vh;
  background-color: #f0f2f5;
}

.side-bar {
  /* display: flex;
    width: 18%; */
  /* height: 100vh; */
}
.side-bar aside {
  width: auto !important;
}
.side-bar aside .ps-sidebar-container {
  width: 14%;
  /* padding: 20px; */
  background: linear-gradient(150deg, #49a3f1, rgb(5, 118, 188));
  color: #344767;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.4375rem 0.625rem -0.3125rem rgba(0, 187, 212, 0.4);
  border: none;
  height: calc(95vh - 2rem);
  border-radius: 0.75rem;
  z-index: 1200;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  z-index: 999999;
  outline: 0;
  /* padding: 20px; */
}
.coudtek_img {
  width: 100%;
  height: 127px;
  display: flex;
  justify-content: center;
}
.coudtek_img img {
  width: 119px;
  height: auto;
}
.side-bar hr {
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 1rem 0;
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #ffffff,
    rgba(255, 255, 255, 0)
  ) !important;
}
nav ul li {
  margin-bottom: 1.5rem;
}
nav ul li a {
  color: #ffffff !important;
}
nav ul li a:hover {
  border-radius: 4px;
  background: linear-gradient(195deg, #49a3f1, #1a73e8);
  color: #ffffff;
  font-weight: 700;
}
ul li a span {
  display: flex;
  align-items: center;
  font-size: 1em;
}
ul li a span svg {
  stroke: white !important;
  width: 1em;
  height: 1em;
  font-size: 1.6rem;
  display: inline-block;
  fill: currentColor;
  margin-right: 20px;
  transition: 1s;
}
ul li a :hover svg {
  transform: rotate(360deg);
}

/* dashboard-wrapper-content start */
/* .dashboard-wrapper-content {
    width: 73%;
} */
/* Dashboard-Header start */
.header {
  width: 80vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: sticky;
  left: 0;
  z-index: 999;
  box-shadow: inset 0rem 0rem 0.0625rem 0.0625rem rgba(255, 255, 255, 0.9),
    0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: saturate(200%) blur(1.875rem);
  backdrop-filter: saturate(200%) blur(1.875rem);
  background-color: rgba(255, 255, 255, 0.8);
  color: #344767;
  top: 0.75rem;
  min-height: 4rem;
  border-radius: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 8px;
  padding-left: 8px;
}
.left-sec,
.right-sec {
  display: inline-block;
  vertical-align: middle;
}
.left-sec {
  margin-right: auto;
}
.right-sec {
  margin-left: auto;
}
.header .right-sec {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .right-sec span {
  font-size: 26px;
  font-weight: 700;
}
.header .left-sec h3 {
  margin: 0;
  text-transform: capitalize;
}
.toggle-button {
  display: none;
}
@media screen and (min-width: 1211px) {
  .layout_sidenavabar {
    display: inline !important  ;
  }
  .side-bar aside .ps-sidebar-container {
    display: inline !important;
  }
  .side-bar-collapse {
    display: inline !important;
  }
}

@media screen and (max-width: 1211px) {
  .layout_sidenavabar {
    display: none;
  }
  .header {
    width: 94vw;
  }

  .datagrid {
    width: 94vw;
  }
  .toggle-button {
    display: inline !important;
  }
  .css-17p3wh3-MuiGrid-root {
    max-width: 99.333333% !important;
    /* this is for main grid which is in layout */
  }
  .css-11reh94-MuiGrid-root > .MuiGrid-item {
    padding-top: 0px !important;
  }
  .css-11reh94-MuiGrid-root {
    margin-top: 0px !important;
  }
  .side-bar aside .ps-sidebar-container {
    width: 220px;
  }
}

@media screen and (max-width: 1013px) {
  .calls-graph .line-graph .pi-chart {
    width: 78%;
    height: 159px;
  }
  .calls-graph {
    width: 100%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 825px) {
}
@media screen and (max-width: 599px) {
  .css-yk21xg-MuiGrid-root {
    flex-basis: 96% !important;
    max-width: 100% !important;
  }
}
.layout_sidenavabar {
  display: inline;
  /* for sidenavbar class */
}

.layout_sidenavabar--collapsed {
  display: none;
  /* for sidenavbar class */
}
.side-bar {
  display: inline;
}
.side-bar-collapse {
  display: none;
}

.Dashboard_item:hover {
  top: -5px;
}
